@font-face {
  font-family: 'mk3';
  src: url(mk3.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'mk3', sans-serif;
  font-style: italic;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('galaxy.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: absolute;
  padding: 20px 0px; 
  top: 0px;
  right: 50px;
  width: 25%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  text-shadow: 1px 1px 1px black;
}

h1 {
  position: absolute;
  padding: 150px 0px;
  top: 0px;
  left: 50px;
  font-style: italic;
  font-size: 50px;
  color: yellow;
  text-decoration: underline;
  text-shadow: 1px 1px 1px black;
}

h2 {
  position: absolute;
  padding: 250px 0px;
  top: 0px;
  left: 50px;
  font-style: italic;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

p {
  position: fixed;
  padding: 300px 0px;
  top: 0px;
  left: 50px;
  font-style: italic;
  font-size: 30px;
  color: white;
  text-align: left;
  text-shadow: 1px 1px 1px black;
}

.navigation a {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  text-shadow: 1px 1px 4px black;
}



